/* General Styling */
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Footer Sticks to Bottom */
footer {
    margin-top: auto;
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 15px 0;
}

/* Graphic Design Styling */
.carousel-item img {
    max-height: 500px;
    object-fit: cover;
}

.carousel-control-prev, .carousel-control-next {
    filter: invert(100%);
}

.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}
